<div>
  <div
    class="uk-position-relative uk-visible-toggle uk-light"
    tabindex="-1"
    uk-slideshow="ratio: 7:3; animation: push"
  >
    <ul class="uk-slideshow-items">
      <li>
        <img src="../../../assets/slider.png" alt="" uk-cover />
      </li>
      <li>
        <img src="../../../assets/banner23.jpg" alt="" uk-cover />
      </li>
      <li>
        <img src="../../../assets/slider.png" alt="" uk-cover />
      </li>
      <li>
        <img
          src="../../../assets/UC_048_23A_CAMPANHA-POS-GRADUACAO-BannerSite-1920x700-1.png"
          alt=""
          uk-cover
        />
      </li>
    </ul>

    <a
      class="uk-position-center-left uk-position-small uk-hidden-hover"
      href
      uk-slidenav-previous
      uk-slideshow-item="previous"
    ></a>
    <a
      class="uk-position-center-right uk-position-small uk-hidden-hover"
      href
      uk-slidenav-next
      uk-slideshow-item="next"
    ></a>
  </div>
</div>
