<div class="container">
  <app-slideshow></app-slideshow>

  <div
    class="uk-padding uk-grid-small uk-child-width-expand uk-grid-row-large"
    uk-grid
  >
    <div class="uk-card uk-card-default card-banner uk-border-rounded">
      <div class="uk-card-media-top uk-border-rounded">
        <img
          src="../../../assets/UC-061-23I-Banner-de-site-Medicina-Graduado-1920x700-1.jpg"
          alt=""
          class="uk-border-rounded"
          style="height: 200px; width: auto"
        />
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Graduação</h3>
        <p>21 cursos, em diversas áreas, à sua escolha.</p>
      </div>
      <div>
        <button class="uk-button uk-button-default">Acesse<p uk-icon="arrow-right" ></p></button>
      </div>
    </div>

    <div class="uk-card uk-card-default card-banner uk-border-rounded">
      <div class="uk-card-media-top uk-border-rounded">
        <img
          src="../../../assets/UC-061-23I-Banner-de-site-Medicina-Graduado-1920x700-1.jpg"
          width="1800"
          height="200px"
          alt=""
          class="uk-border-rounded"
          style="height: 200px; width: auto"
        />
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Pós-Graduação</h3>
        <p>Cursos para você se destacar no mercado.</p>
      </div>
      <div>
        <button class="uk-button uk-button-default">Acesse<p uk-icon="arrow-right" ></p></button>
      </div>
    </div>

    <div class="uk-card uk-card-default card-banner uk-border-rounded">
      <div class="uk-card-media-top uk-border-rounded">
        <img
          src="../../../assets/UC-061-23I-Banner-de-site-Medicina-Graduado-1920x700-1.jpg"
          width="1800"
          height="200px"
          alt=""
          class="uk-border-rounded"
          style="height: 200px; width: auto"
        />
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Mestrado</h3>
        <p>Mestrados acadêmicos e profissionais em 4 áreas de atuação.</p>
      </div>
      <div>
      <button class="uk-button uk-button-default">Acesse<p uk-icon="arrow-right" ></p></button>
    </div>
    </div>
  </div>
</div>
