<div class="container">
    <div class="div-form">
        <h3>Formulário para adicionar veículos</h3>
        <div class="form-container">
            <mat-form-field appearance="outline">
                <mat-label>Data Desejada</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Turno</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
            <mat-form-field>
                <mat-label>Veiculo</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Usuário</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Destino</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <button mat-raised-button color="primary">Enviar</button>
    </div>
    <mat-divider></mat-divider>
</div>
