<div class="container">
    <div class="div-form">
        <h3>Formulário para adicionar veículos</h3>
        <div class="form-container">
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Sigla</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary">Enviar</button>
    </div>
    <mat-divider></mat-divider>
</div>
