<div class="container">
    <div class="account-body">
    <mat-card class="card-register">
      <mat-card-content class="card-register-content">
        <img mat-card-image class="logo" src="../../../../assets/unichristus.logo.png" alt="">
        <h3>Login</h3>
        <form [formGroup] = "form" (ngSubmit) = "onSubmit()">
          <mat-form-field class="fiel-register">
            <mat-label>Digite seu email</mat-label>
            <input matInput placeholder="user@gmail.com" required>
            <mat-error></mat-error>
          </mat-form-field >
            <mat-form-field class="fiel-register">
              <mat-label>Digite sua senha</mat-label>
              <input matInput type="password" required>
              <mat-error></mat-error>
            </mat-form-field>
        </form>
      
      </mat-card-content>
    </mat-card>
  </div>
  </div>
  