<div class="container">
    <div class="account-body">
    <mat-card class="card-register">
      <mat-card-content class="card-register-content">
        <img mat-card-image class="logo" src="../../../../assets/unichristus.logo.png" alt="">
        <h3>LOGIN</h3>
        <form (ngSubmit) = "onSubmit()" class="form-login">
          <mat-form-field class="fiel-register">
            <mat-label>Digite seu email</mat-label>
            <input matInput [formControl]="email" placeholder="user@gmail.com" required>
            <mat-error></mat-error>
          </mat-form-field >
            <mat-form-field class="fiel-register">
              <mat-label>Digite sua senha</mat-label>
              <input matInput [formControl] = "senha" type="password" required>
              <mat-error></mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" style="width: 40%;" type="submit">Entrar</button>
        </form>
      
      </mat-card-content>
    </mat-card>
  </div>
  </div>
  