<div
  class="uk-container uk-container-large uk-flex uk-flex-center uk-flex-middle"
>
  <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
    <form class="uk-flex uk-flex-center uk-flex-middle uk-flex-column">
      <img
        src="../../../assets/Logo-Unichristus-em-Branco.png"
        style="width: 60%"
        alt="Logo Unicrhistus"
      />
      <h3
        class="uk-card-title"
        style="
          font-family: Montserrat, sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 14px;
          color: #fff;
        "
      >
        Registre-se
      </h3>

      <div class="uk-inline">
        <span
          class="uk-form-icon uk-form-icon-flip"
          uk-icon="icon: user"
        ></span>
        <input
          class="uk-input uk-form-width-large"
          type="text"
          placeholder="Nome Completo"
          aria-label="Not clickable icon"
        />
      </div>
      <div class="uk-inline">
        <span
          class="uk-form-icon uk-form-icon-flip"
          uk-icon="icon: user"
        ></span>
        <input
          class="uk-input uk-form-width-large"
          type="text"
          placeholder="Email"
          aria-label="Not clickable icon"
        />
      </div>
      <div class="form-rules uk-flex uk-flex-center">
        <div class="input_password uk-inline">
          <span
            class="uk-form-icon uk-form-icon-flip"
            uk-icon="icon: lock"
          ></span>
          <input
            class="uk-input uk-form-width-large"
            type="password"
            placeholder="Senha"
            aria-label="Not clickable icon"
          />
        </div>

        <div class="uk-form-controls">
          <select class="uk-select" id="form-horizontal-select">
            <option>Option 01</option>
            <option>Option 02</option>
          </select>
        </div>
      </div>

      <button class="uk-button uk-button-secondary uk-margin-small-top">
        Registrar
      </button>
    </form>
  </div>
</div>
