.uk-navbar-container{
  width: 100%;
  background-color: #19385d;
}

.logo{
  width: 20rem;
}

ul li a{
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #fff;
}

.uk-dropdown{
  background-color: #23548c
}

.second-container{
  background-color: #0693e3;
}