<nav class="uk-navbar-container">
  <div class="uk-container">
    <div uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li>
            <a>Serviços ao aluno</a>
            <div
              uk-dropdown="animation: reveal-top; animate-out: true; duration: 700"
            >
              <ul class="uk-nav uk-dropdown-nav">
                <li class="uk-active">
                  <a href="#">Central de estágios e Emprego</a>
                </li>
                <li><a href="#">Eventos</a></li>
                <li><a href="">Biblioteca</a></li>
                <li><a href="#">SAP</a></li>
                <li><a href="#">Internacional</a></li>
              </ul>
            </div>
          </li>
          <li><a>Unichristus online</a></li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li>
            <a>Mais informações</a>
          </li>
          <li><a>Inscreva-se</a></li>
        </ul>
      </div>
    </div>
  </div>

  <nav class="uk-navbar-container second-container">

    <div class="uk-container">
    <div uk-navbar>
  
      <div class="uk-navbar-left">
        <div class="logo">
          <img style="width: 14rem;" src="../../../assets/Logo-Unichristus-em-Branco.png" alt="">
        </div>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li>
            <a [routerLink]="">Translados de Alunos</a>
          </li>
          <li><a>Cadastrar Veículos</a></li>
          <li><a>Cadastrar Destinos</a></li>
          <li><a>Ver todos</a></li>
          <li><a>Inscreva-se</a></li>
          
        </ul>
      </div>
      </div>

      </div>
</nav>
</nav>
