.uk-navbar-container{
  width: 100%;
  background-color: #19385d;
}

li a{
  font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #fff;
}
